<div *ngIf="orders && orders.length > 0" class="container">
  <div class="row">
    <div *ngFor="let order of orders" class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Order ID: {{ order.id }}</h5>
          <p class="card-text">Date de dépôt: {{ order.dateOrder | date }}</p>
          <p class="card-text">
            Date de retrait: {{ order.dateRender | date }}
          </p>
          <p class="card-text">Client ID: /api/clients/{{ order.client.id }}</p>
          <p class="card-text">
            Adresse email du client: {{ order.client.email }}
          </p>
          <p class="card-text">
            Status de la Commande: {{ order.statusOrder.status }}
          </p>
          <p class="card-text">
            Numéro de la commande: {{ order.numberOrder }}
          </p>
          <p class="card-text">
            Manager en charge: {{ order.employee?.firstName }}
          </p>

          <button class="btn btn-primary" (click)="onSelectOrder(order)">
            Voir les détails
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-one-order-assign
  *ngIf="selectedOrder"
  [order]="selectedOrder"
  (closeDetails)="CloseDetails()"
></app-one-order-assign>
