<footer class="p-5">
  <div class="container">
    <div
      class="row d-flex flex-column justify-content-center align-items-center"
    >
      <div class="col-md-8">
        <div class="social-media mb-3 d-flex flex-column align-items-center">
          <h4 class="mb-3">Suivez-nous sur les réseaux sociaux</h4>
          <div class="d-flex justify-content-evenly px-5">
            <div class="social-icon-container">
              <a href="lien_vers_facebook" class="social-icon"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </div>
            <div class="social-icon-container">
              <a href="lien_vers_twitter" class="social-icon"
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
            <div class="social-icon-container">
              <a href="lien_vers_instagram" class="social-icon"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <div class="links mb-3 text-center">
          <ul class="list-unstyled">
            <li><a href="#">Transparence classement des produits</a></li>
            <li><a href="#">CGV</a></li>
          </ul>
        </div> -->
      </div>
      <div
        class="col-md-8 d-flex flex-row justify-content-between align-items-center"
      >
        <div class="links mb-3 text-center">
          <ul class="list-unstyled">
            <li><a href="#">Transparence classement des produits</a></li>
            <li><a href="#">CGV</a></li>
          </ul>
        </div>

        <div>
          <img
            src="../../assets/icone lotus.png"
            alt="Description de l'image"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
