footer {
  background-color: #a15d82;
}

.links li a,
.social-media a,
div.footer a {
  color: black;
}

.links a:hover,
.social-media a:hover,
div.footer a:hover {
  color: #333;
}

.social-icon-container {
  margin: 0 15px;
}
