<p>presentation-home works!</p>

<section class="py-5">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row justify-content-between align-items-center pb-lg-5">
        <div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
          <div class="image-box inverse position-relative">
            <div class="image-box__static">
              <img
                src="assets/home/presentation2.svg"
                alt="image front"
                width="364"
                height="459"
              />
            </div>
            <div class="image-box__float">
              <img
                src="assets/home/presentation1.svg"
                alt="image back"
                width="364"
                height="459"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6 ps-lg-5 mt-lg-4 mt-5">
          <h6 class="sub-title py-3">Plus de 20 ans d’expériences de pressing</h6>
          <h3 class="fw-bold">A propos de nous</h3>
          <h3 class="text-center fw-bold">Notre passion</h3>
          <p class="mt-4">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti similique sunt in culpa qui
            officia
          </p>
          <ul class="mt-4 list row">
            <div class="col-lg-6">
              <li class="py-3">
                <i class="fa-solid fa-hand-point-right me-2"></i>Meilleurs prix et
                efficacité
              </li>
              <li>
                <i class="fa-solid fa-hand-point-right me-2"></i>Dianostic textile
              </li>
            </div>
  
            <div class="col-lg-6">
              <li class="py-3">
                <i class="fa-solid fa-hand-point-right me-2"></i>Soin délicat
              </li>
              <li>
                <i class="fa-solid fa-hand-point-right me-2"></i>Livraison à
                domicile
              </li>
            </div>
          </ul>
          <a routerLink="/about" class="btn mt-5 rounded-5">Savoir plus</a>
        </div>
      </div>
    </div>
  </section>
  <section class="we py-5">
    <!-- qui sommes nous -->
    <div class="container we-content py-5 px-5">
      <!-- container si je touche pas les bords pas de container si je touche les bords)-->

      <div class="row"> <!-- ça aligne -->
        
        <div class="col-lg-6"> <!-- On copie ça le nombre de fois ou on a besoin -->
          <div class="border mb-3 text-center">
            <img src="img/300-300.jpg" height="150" width="150" class="img-fluid lotus-image">
          </div>
        </div>

        <div class="col-lg-6"> <!-- On copie ça le nombre de fois ou on a besoin -->
          <div class="border mb-3 history">
            <h3 class="text-center">Histoire</h3>
            <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat molestias ex at aperiam. Vitae delectus reprehenderit inventore quos blanditiis, eos dignissimos mollitia laboriosam aspernatur iste iusto temporibus ab exercitationem a.</p>
            <h3 class="text-center">Qualité</h3>
            <p class="mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repellat totam perferendis magni, pariatur aperiam ut incidunt alias quaerat sapiente excepturi dolorum? Eveniet nulla autem laborum! Debitis voluptates repellendus pariatur.</p>
            <p class="mx-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea praesentium, sed officiis hic iusto eos blanditiis ex excepturi totam molestiae est doloremque necessitatibus qui aliquam cumque error omnis, facere iste!</p>
            <a href="" class="buton-second">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  