<p>service-list works!</p>
<div>
  <h2 class="text-center">Liste des services</h2>
</div>
<div class="card-body">
  <div *ngIf="services && services.length > 0; else noServices">
    <ul class="list-group">
      <li *ngFor="let service of services" class="list-group-item">
        <strong
          >{{ service.id }} {{ service.name }} - {{ service.coeff }}</strong
        >
        <button class="btn btn-pink mt-2" (click)="deleteService(service.id)">
          Delete
        </button>
        <button class="btn btn-primary" (click)="onSelectService(service)">
          Voir les détails
        </button>
      </li>
    </ul>
  </div>
  <ng-template #noServices>
    <p class="text-center">Aucun service trouvé.</p>
  </ng-template>
</div>

<app-one-service
  *ngIf="selectedService"
  [service]="selectedService"
  (closeDetails)="CloseDetails()"
></app-one-service>
