.btn-pink {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-pink:hover {
  background-color: #ff4f9f;
}

.popup-button-container {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.cart {
  background-color: #c4c3be;
}
