<!-- <p>cart works!</p>

<div *ngFor="let product of cart">
    <div class="font-bold text-xl mb-2">Product ID: {{ product.id }}</div>
    <p class="text-gray-700 text-base mb-2">Price: {{ product.price }}</p>
    <p class="text-gray-700 text-base">Product Name: {{ product.product_name }}</p>
    <button (click)="removeFromCart(cart.indexOf(product))">Remove from Cart</button>
  </div>
  <p>Total Price: {{ getTotalPrice() }}</p> -->

  <p>Cart works!</p>

<div *ngFor="let product of cart">
  <div class="font-bold text-xl mb-2">Product ID: {{ product.id }}</div>
  <p class="text-gray-700 text-base mb-2">Price: {{ product.price }}</p>
  <p class="text-gray-700 text-base">Product Name: {{ product.product_name }}</p>
  <p *ngIf="product.services && product.services.length > 0">Services:</p>
  <ul>
    <li *ngFor="let service of product.services">
      {{ service.name }}
    </li>
  </ul>
  <button (click)="removeFromCart(cart.indexOf(product))">Remove from Cart</button>
</div>

<p>Total Price: {{ getTotalPrice() }}</p>