.btn-pink {
  background-color: pink;
  color: white;
}

.btn-pink {
  background-color: pink;
  border-color: pink;
}
.btn-pink:hover {
  background-color: #ff80bf;
  border-color: #ff80bf;
}
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 20px; /* Ajout de l'espacement intérieur */
  border-radius: 10px;
}

.cover-container {
  background-image: url("../../assets/retouche-350-250.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.total {
  background-color: #c4c3be;
  border: solid 3px;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 15px;
}

.container-fluid {
  padding: 20px;
}

.total h3 {
  font-size: 24px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}
