.cover {
  background-image: url("../../assets/repassage-350-250.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font: bold;
}
img {
  max-width: 100%;
  height: auto;
}
