<div *ngIf="order" class="order-details-container">
  <h3>Order Details</h3>
  <ul class="list-group">
    <li class="list-group-item">Order ID: {{ order.id }}</li>
    <li class="list-group-item">Date de dépôt: {{ order.dateOrder }}</li>
    <li class="list-group-item">Date de retrait: {{ order.dateOrder }}</li>
    <li class="list-group-item">
      Client ID: /api/clients/{{ order.client.id }}
    </li>
    <li class="list-group-item">Client: {{ order.client.email }}</li>
    <li class="list-group-item">
      Status de la Commande: {{ order.statusOrder.status }}
    </li>
    <li class="list-group-item" *ngIf="order.numberOrder">
      Numéro de la Commande: {{ order.numberOrder }}
    </li>

    <p class="card-text">Manager en charge: {{ order.employee?.firstName }}</p>
  </ul>
  <!-- <li class="list-group-item">
    Changer le statut de la commande:
    <select [(ngModel)]="selectedStatus">
      <option *ngFor="let status of statusOptions" [value]="status.value">
        {{ status.label }}
      </option>
    </select>
  </li> -->
  <li class="list-group-item">
    <label for="statusSelect">Changer le statut de la commande:</label>
    <select class="form-control" id="statusSelect" [(ngModel)]="selectedStatus">
      <option *ngFor="let status of statusesOptions" [value]="status['@id']">
        {{ status.status }}
      </option>
    </select>
  </li>

  <button class="btn btn-primary mt-2" (click)="updateOrder()">
    Mise à jour du statut
  </button>

  <button class="btn btn-secondary mt-2" (click)="CloseDetails()">
    Fermer les détail
  </button>
</div>

<!--
<div *ngIf="order" class="order-details-container">
  <h3>Order Details</h3>
  <ul class="list-group">
    <li class="list-group-item">Order ID: {{ order.id }}</li>
    <li class="list-group-item">Date de dépôt: {{ order.dateOrder }}</li>
    <li class="list-group-item">Date de retrait: {{ order.dateOrder }}</li>
    <li class="list-group-item">
      Client ID: /api/clients/{{ order.client.id }}
    </li>
    <li class="list-group-item">Client: {{ order.client.email }}</li>
    <li class="list-group-item">
      Status de la Commande: {{ order.statusOrder.status }}
    </li>
    <li class="list-group-item" *ngIf="order.numberOrder">
      Numéro de la Commande: {{ order.numberOrder }}
    </li>
    <p class="card-text">Manager en charge: {{ order.employee?.firstName }}</p>

    <li class="list-group-item">
      Changer le statut de la commande:
      <select [(ngModel)]="selectedStatus">
        <option *ngFor="let status of statusOptions" [value]="status.value">
          {{ status.label }}
        </option>
      </select>
      <button class="btn btn-primary mt-2" (click)="updateOrder()">
        Mise à jour du statut
      </button>
    </li>

    <button class="btn btn-secondary mt-2" (click)="CloseDetails()">
      Fermer les détail
    </button>
  </ul>
</div> -->
<!-- <button
class="btn btn-primary"
(click)="updateOrderManager(selectedEmployee)"
>
Update Manager
</button> -->
<!-- <li class="list-group-item">
      Manager en charge: {{ order.employee?.firstName }}
      <div class="form-group">
        <label for="managerSelect">Manager:</label>
        <select
          class="form-control"
          id="managerSelect"
          [(ngModel)]="selectedEmployee"
        >
          <option
            *ngFor="let employeeOption of employeeOptions"
            [value]="employeeOption.value"
          >
            {{ employeeOption.label }}
          </option>
        </select>
      </div>
    </li> -->
