<div class="container my-5">
  <div class="row">
    <div *ngFor="let selectedProduct of products" class="col-md-4 mb-4 cover">
      <div class="card rounded shadow">
        <div class="card-body">
          <button
            class="btn btn-success"
            (click)="onSelectProduct(selectedProduct)"
          >
            Voir les détails
          </button>
          <h5 class="card-title">{{ selectedProduct?.product_name }}</h5>

          <span>{{ selectedProduct?.price | currency : "EUR" }}</span>
          <p class="card-text"></p>

          <div class="text-center">
            <img
              [src]="selectedProduct?.product_img"
              [alt]="selectedProduct?.product_name"
              class="img-fluid rounded"
            />
          </div>
          <div class="transparant">
            <p class="card-text">
              Category: {{ selectedProduct?.category?.category_name }}
            </p>
          </div>

          <app-popup-services
            [productId]="selectedProduct.id"
          ></app-popup-services>
          <div>
            <button
              class="btn btn-pink mt-2"
              [disabled]="!isSelectionValid()"
              (click)="addToCart(selectedProduct)"
              (click)="poursuivreCommande()"
            >
              Ajouter au panier
            </button>
          </div>
        </div>
      </div>

      <app-product
        *ngIf="selectedItem"
        [product]="selectedItem"
        (closeDetails)="CloseDetails()"
      ></app-product>
    </div>
  </div>
</div>
