.btn-pink {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-pink:hover {
  background-color: #ff4f9f;
}

.cover {
  background-image: url("../../assets/repassage-350-250.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font: bold;
}
/* img {
  max-width: 100%;
  height: auto;
} */

/* Style pour les liens */
a {
  text-decoration: none; /* Supprimer le soulignement par défaut */
  color: #333; /* Couleur du texte */
  transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

a:hover {
  color: #007bff; /* Couleur du texte au survol */
}

/* Style pour les conteneurs div */
div {
  margin-bottom: 10px; /* Marge en bas pour séparer les éléments */
}
