<!-- <div *ngIf="orderProduct">
  <h2>Informations sur la commande</h2>
  <ul>
    <li *ngIf="orderProduct.products">
      <strong>Product:</strong> {{ orderProduct.products.product_name }}
    </li>
    <li *ngIf="orderProduct.materials && orderProduct.materials.length > 0">
      <strong>Matériau:</strong>
      <ul>
        <li *ngFor="let material of orderProduct.materials">
          {{ material.name }}
        </li>
      </ul>
    </li>
    <li *ngIf="orderProduct.services && orderProduct.services.length > 0">
      <strong>Services:</strong>
      <ul>
        <li *ngFor="let service of orderProduct.services">
          {{ service.name }}
        </li>
      </ul>
    </li>
  </ul>
</div> -->
<div
  *ngIf="orderProducts && orderProducts.length > 0"
  class="border rounded-md shadow-md p-4 bg-white"
>
  <h2 class="text-2xl font-bold mb-4">Informations sur les commandes</h2>
  <ul>
    <li *ngFor="let orderProduct of orderProducts" class="mb-4">
      <strong class="text-lg">Commande {{ orderProduct.id }}:</strong>
      <ul class="ml-4">
        <li>
          <strong>Produit:</strong>
          <span>
            {{
              orderProduct?.products?.product_name ||
                "Nom du produit non disponible"
            }}
          </span>
        </li>
        <li>
          <strong>Description du produit:</strong>
          <span>
            {{
              orderProduct?.products?.description ||
                "Description du produit non disponible"
            }}
          </span>
        </li>
        <li>
          <strong>Prix du produit:</strong>
          <span>
            {{
              orderProduct?.products?.price || "Prix du produit non disponible"
            }}
          </span>
        </li>
        <li>
          <strong>Matériaux:</strong>
          <ul class="ml-4">
            <li *ngFor="let material of orderProduct?.materials">
              {{ material.name }}
            </li>
          </ul>
        </li>
        <li>
          <strong>Services:</strong>
          <ul class="ml-4">
            <li *ngFor="let service of orderProduct?.services">
              {{ service.name }}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
