<section id="bannerHome" class="py-12">
    <p class="text-center">banner-home works!</p>
    <div class="cover-container">
      <div class="row justify-content-center">
        <div class="col-md-12 ">
          <!-- <img src="../assets/1280-500-pull.jpg" alt="image back"
          > -->
          <h1 class="mb-auto p-5 bd-highlight">Pressing “Lotus”</h1>
          <div class="text-center"> <!-- Pour centrer le bouton -->
            <a href="#" class="btn btn-outline-dark rounded-pill text-dark btn-custom">COMMANDER</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  