<section id="bannerHome" class="py-12">
    <p class="text-center">banner-home works!</p>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 ">
          <img src="../assets/1280-500-pull.jpg" alt="image back"
          >
          <h2 class="font-weight-bold text-center">Your Heading</h2>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="lotus d-flex align-items-center justify-content-center ">
    <!-- photo -->
    
    <div class="first text-center">
      
    <h1 class="mb-auto p-5 bd-highlight">Pressing “Lotus”</h1>
   <a href="" class="p-7 bd-highlight buton-first">COMMANDER</a>
  </div>
  </section>
  <section class="my-5">
    <!-- citation soin-->
    <div class="container "> <!-- container si je touche pas les bords  / container-fluid si je touche les bords)-->

      <div class="row"> <!-- ça aligne -->
        <div class="col-lg-12 affaires"> <!-- On copie ça le nombre de fois ou on a besoin et on adapte le nombre de colonne-->
          <div class="border mb-3 "> </div>
            <h2 class="text-center">//Nous prenons soin de vos affaires </h2>
            
          </div>
        </div>

      </div>
    
  </section>
  
    <section class="caroussel my-5">
      <div class="container py-5"> <!-- container si je touche pas les bords pas de container si je touche les bords)-->

        <div class="row"> <!-- ça aligne -->
          <div class="col-lg-12"> <!-- On copie ça le nombre de fois ou on a besoin -->
            <div class="m-3">
              <h2 class="text-center">Nos SERVICES </h2>
              <a href="" class="first buton-second">tous les services</a>

            </div>
          </div>
        </div>
      </div>
      <div class="owl-carousel owl-theme">
        <div> <img src="../assets/nettoyage-eau-350-250.jpg"> 
          <a href="" class="first buton-three">Nettoyage à eau</a></div>
      
        <div>
          <img src="../assets/ameublement-350-250.jpg">
          <a href="" class="first buton-three">Ameublement</a>
        </div>
        <div>
          <img src="../assets/blanchisserie-350-250.jpg">
          
          <a href="" class="first buton-three">Blanchisserie</a>
        </div>
        <div><img src="../assets/nettoyage-sec-350-250.jpg">
      
          <a href="" class="first buton-three">Nettoyage à sec</a>
        </div>
        
       <div><img src="../assets/repassage-350-250.jpg">
        
        <a href="" class="first buton-three">Repassage</a>
      </div>
      <div> <img src="../assets/retouche-350-250.jpg">
        <a href="" class="first buton-three">Retouche</a>
       
      </div>
        <div>
          <img src="../assets/taches-350-250.jpg">
         
          <a href="" class="first buton-three">Détachage</a>
        </div>
       
      </div>
    </section>
    