<button (click)="displayProductService()">
  Afficher les services disponibles
</button>

<div *ngIf="services.length > 0">
  <h3>Services disponibles :</h3>
  <ul>
    <li *ngFor="let service of services">
      <label>
        <input
          type="checkbox"
          (change)="toggleServiceSelection($event, service)"
        />

        {{ service.name }} - {{ service.coeff }}
      </label>
    </li>
  </ul>
  <button (click)="displayProductMaterial()">
    Afficher les matières disponibles
  </button>
  <div *ngIf="materials.length > 0">
    <h3>Matières disponibles :</h3>
    <ul>
      <li *ngFor="let material of materials">
        <label>
          <input
            type="checkbox"
            (change)="toggleMaterialSelection($event, material)"
          />
          {{ material.name }} - {{ material.coeff }}
        </label>
      </li>
    </ul>
  </div>
</div>

<button class="btn-pink" (click)="addToCart()" [disabled]="!isSelectionValid()">
  choix des options
</button>
