<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">Matière</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div *ngIf="material" class="service-details-container">
                <h3>Mise à jour</h3>
                <ul class="list-group">
                  <li class="list-group-item">
                    Material ID: {{ material.id }}
                  </li>
                  <li class="list-group-item">
                    Nom: <input type="text" [(ngModel)]="material.name" />
                  </li>
                  <li class="list-group-item">
                    Coeff: <input type="number" [(ngModel)]="material.coeff" />
                  </li>
                </ul>
                <button
                  class="btn btn-primary mt-2"
                  (click)="updateMaterialDetails()"
                >
                  Mettre à jour les détails de la matière
                </button>
                <button class="btn btn-secondary mt-2" (click)="CloseDetails()">
                  Fermer les détails
                </button>
              </div>
            </div>
            <div class="col">
              <h3>Ajouter une nouvelle matière</h3>
              <form (submit)="addMaterial()">
                <div class="form-group">
                  <label for="name">Nom:</label>
                  <input
                    id="name"
                    name="name"
                    type="text"
                    autocomplete="name"
                    required
                    class="form-control"
                    placeholder="Nom"
                    [(ngModel)]="newMaterial.name"
                  />
                </div>
                <div class="form-group">
                  <label for="coeff">Coeff:</label>
                  <input
                    id="coeff"
                    name="coeff"
                    type="number"
                    autocomplete="coeff"
                    required
                    class="form-control"
                    placeholder="Coeff"
                    [(ngModel)]="newMaterial.coeff"
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Ajouter Matière
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
